
#add {
    cursor: pointer;
    padding-left: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

.empty {
    color: rgb(165, 165, 165);
    font-family: "Helvetica Nenu";
    font-size: 20px;
    padding-left: 20px;
}
.empty:first-letter {
    text-transform: capitalize;
}