
#sidebar {
    width: 240px;
    font-family: Papyrus;
    margin-right: 60px;
}

#sidebar .category {
    cursor: pointer;
    line-height: 2em;
    font-size: 20px;
    margin: 0;
    -webkit-user-select: none;
}

#sidebar .count {
    display: inline-block;
    width: 60px;
    text-align: center;
    font-size: 30px;
}

#sidebar .category:hover,
#sidebar.view-now .now,
#sidebar.view-my .my,
#sidebar.view-work .work,
#sidebar.view-done .done {
    background: rgb(235, 235, 235);
}

#list {
    height: 100%;
    overflow: auto;
    flex: 1;
}
