
#navbar {
    font-family: "Helvetica Neue";
    font-weight: 100;
    padding-left: 1px;
    display: flex;
    flex-direction: row;
}

#navbar .category {
    cursor: pointer;
    line-height: 1.5em;
    font-size: 30px;
    margin: 0;
    -webkit-user-select: none;
    padding: 10px 5px;
    flex: 1;
}

#navbar .count {
    display: inline-block;
    text-align: center;
    font-size: 39px;
    min-width: 60px;
}

#navbar .category:hover,
#navbar.view-doing .doing,
#navbar.view-todo .todo,
#navbar.view-done .done {
    box-shadow: 0px 1px 0 rgb(211, 182, 255);
}

#navbar .done {
    font-size: 24px;
}
#navbar .done .count {
    font-size: 26px;
}

#list {
    flex: 1;
    padding: 2em 0 10em 1px;
    line-height: 2em;
}
