

.record {
    padding: 10px;
    position: relative;
}

.record .action {
    font-size: 16px;
    color: rgb(210, 192, 255);
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-right: 1em;
}

.record .title {
    color: black;
}
