
@import url('menu.css');
@import url('record.css');
@import url('task.css');
@import url('column.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body, input {
    font-family: 'MF YueYuan (Noncommercial)', Optima, 'Hiragino Sans GB';
    font-weight: lighter;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

#menu {
    width: 1000px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}