
@import url('menu.css');
@import url('task.css');
@import url('column.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body, input {
    font-family: 'MF YueYuan (Noncommercial)', Optima, 'Hiragino Sans GB';
    font-weight: lighter;
}

#app {
    font-size: 17px;
    line-height: 40px;
    max-width: 960px;
    margin: 0px auto;
}
