
@font-face
  font-family Marcellus
  src url(../font/Marcellus.woff) format(woff)

html
  background hsl(0,0,94)
  overflow-x hidden

body
  margin 0px auto
  width 1000px
  background hsl(0,0,97)
  min-height 200px
  font-family Marcellus

*
  box-sizing border-box
  -moz-box-sizing border-box
  // box-shadow 0px 0px 4px hsl(0,0,80)

textarea, input, button
  border none
  outline none
  padding 4px 6px
  font-family Monaco

#outline
  font-size 40px
  text-align center
  padding 40px 0px
  text-shadow -1px 0px 2px hsl(0,0,50)
  color hsl(0,0,90)

#editor
  position absolute
  height 100%
  width 600px
  left -540px
  top 0px
  background hsl(0,0,95)
  -webkit-transition-duration 0.3s
  color hsl(0,0,30)
  box-shadow 2px 0px 6px hsl(0,0,90)
  padding 40px 16px

  span
    display inline-block
    width 100px

  textarea, input
    width 420px
    resize none

  .line
    padding 10px 0px

    *
      vertical-align top

  #content
    height 300px
    resize vertical

  #save:active
    background white
  #save:focus
    background hsl(0,0,90)

#book
  display -webkit-flex

  #tags
    min-height 20px
    width 24%
    color black

    &>div
      background hsl(0,0,90)
      margin 4px 0px
      padding 4px 8px

  #todo
    min-height 20px
    width 76%

    .task
      margin 8px 0px
      padding 6px 10px

      .title
        font-size 20px

      .more
        span
          display inline-block
          width 100px

        .done, .failed
          color hsl(0,0,80)
          &:hover
            color hsl(0,0,50)

        .detail
          color hsl(240,80,80)

    .empty
      font-size 30px
      text-align center
      color hsl(0,0,70)