
#futures .list {
    padding-top: 140px;
}
#futures .list .task:first-child {
    border-top: solid 1px rgb(224, 224, 224);
}
.list {
    padding-bottom: 400px;
    overflow: auto;
}

.cover {
    padding: 10px;
    cursor: pointer;
    flex: 1;
}
.cover .text {
    font-size: 16px;
}
.cover .count {
    margin: 0px 9px;
    font-size: 33px;
}
.empty {
    padding: 176px;
    color: rgb(165, 165, 165);
}
.empty:first-letter {
    text-transform: capitalize;
}