
doctype html
html
  head
    title Todo List
    meta(charset='utf-8')
    link(rel='stylesheet', href='page/style.css')
    script(defer, src='./build/build.js')
  body#app
    #menu(class='mode-{{mode}}')
      #futures
        .cover(v-on='click: switchFutures', v-show='isFutures | oppsite')
          .text
            span Currently you have
            span.count {{futuresLength}}
            span tasks
        .list(v-show='isFutures')
          .task(v-repeat='futures')
            .title {{title}}
      #working
        .cover(v-on='click: switchWorking', v-show='isWorking | oppsite')
          .text
            span Currently you have
            span.count {{workingLength}}
            span tasks
          .button(v-on='click: addTask')
            | Add Task
        .list(v-show='isWorking')
          .task(v-repeat='working')
            .title {{title}}
      #history
        .cover(v-on='click: switchHistory', v-show='isHistory | oppsite')
          .text
            span history length
            span.count {{historyLength}}
        .list(v-show='isHistory')
          .record(v-repeat='history')
            .action {{action}}
            .title {{title}}
            .time {{finish}}
    #editor(v-show='editing')
      #dialog
        #action {{action}}
        #inputing
          input#title
          input#content
        #controls
          #save save
          #delete delete
