
#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
}

#menu > div {
    background: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    -webkit-transition-duration: 200ms;
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    box-shadow: 0px 0px 1px rgb(209, 209, 209);
}

.mode-futures#menu {}
.mode-futures #futures {
    flex: 3;
    background: white;
}

.mode-working#menu {
    height: 100%;
}
.mode-working #working {
    flex: 3;
    background: white;
    overflow: hidden;
}

.mode-history#menu {}
.mode-history #history {
    flex: 3;
    background: white;
}
