@font-face {
  font-family: Marcellus;
  src: url("../font/Marcellus.woff") format(woff);
}
html {
  background: #f0f0f0;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  margin: 0px auto;
  width: 1000px;
  height: 100%;
  background: #f7f7f7;
  min-height: 200px;
  font-family: Marcellus;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
textarea,
input,
button {
  border: none;
  outline: none;
  padding: 4px 6px;
  font-family: Monaco;
}
#outline {
  font-size: 40px;
  text-align: center;
  padding: 40px 0px;
  text-shadow: -1px 0px 2px #808080;
  color: #e6e6e6;
}
#editor {
  position: absolute;
  height: 100%;
  width: 600px;
  left: -540px;
  top: 0px;
  background: #f2f2f2;
  -webkit-transition-duration: 0.3s;
  color: #4d4d4d;
  box-shadow: 2px 0px 6px #e6e6e6;
  padding: 40px 16px;
}
#editor span {
  display: inline-block;
  width: 100px;
}
#editor textarea,
#editor input {
  width: 420px;
  resize: none;
}
#editor .line {
  padding: 10px 0px;
}
#editor .line * {
  vertical-align: top;
}
#editor #content {
  height: 300px;
  resize: vertical;
}
#editor button:active {
  background: #fff;
}
#editor button:focus,
#editor input:focus,
#editor textarea:focus {
  box-shadow: 0px 0px 8px #999;
}
#book {
  display: -webkit-flex;
}
#book #tags {
  min-height: 20px;
  width: 24%;
  color: #000;
}
#book #tags button {
  background: #e6e6e6;
  display: block;
  width: 200px;
  margin: 4px 0px;
  text-align: left;
  padding: 4px 8px;
}
#book #tags button:focus {
  box-shadow: 0px 0px 8px #b3b3b3;
}
#book #tags .viewing {
  background: #d1d1fa;
}
#book #todo {
  min-height: 20px;
  width: 76%;
  padding-bottom: 200px;
}
#book #todo .task {
  margin: 8px 0px;
  padding: 6px 20px;
}
#book #todo .task .title {
  font-size: 20px;
}
#book #todo .task .more span {
  display: inline-block;
  width: 100px;
}
#book #todo .task .more .done,
#book #todo .task .more .failed {
  color: #ccc;
}
#book #todo .task .more .done:hover,
#book #todo .task .more .failed:hover {
  color: #808080;
}
#book #todo .task .more .detail {
  color: #a3a3f5;
}
#book #todo .empty {
  font-size: 30px;
  text-align: center;
  color: #b3b3b3;
}
