

.record {
    padding: 10px;
    border-bottom: solid 1px rgb(255, 226, 226);
}

.record .action {
    font-size: 16px;
    color: rgb(210, 192, 255);
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-right: 1em;
}

.record .title {
    font-size: 17px;
    color: black;
}
.record .content {
    color: rgb(197, 197, 197);
    font-size: 16px;
    line-height: 22px;
    padding-left: 2em;
}