
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Optima;
    font-size: 20px;
    line-height: 40px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
}

#menu > div {
    background: rgb(238, 238, 238);
    color: rgb(109, 109, 109);
    -webkit-transition-duration: 200ms;
    flex: 1;
    display: flex;
    align-items: stretch;
}
#menu > div:hover {
    background: white;
    color: black;
}

#editor {
    position: absolute;
    background: rgba(65, 47, 60, 0.63);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mode-futures#menu {}
.mode-futures #futures {
    flex: 3;
}

.mode-working#menu {
    height: 100%;
}
.mode-working #working {
    flex: 3;
}

.mode-history#menu {}
.mode-history #history {
    flex: 3;
}


.cover {
    padding: 10px;
    cursor: pointer;
    flex: 1;
}

#overlay {}

#dialog {
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255, 0.98);
    padding: 5px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#inputing {
    display: flex;
    flex-direction: column;
}

#inputing > input {
    line-height: 29px;
    font-size: 16px;
    margin-bottom: 20px;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#controls > div {
    width: 83px;
    text-align: center;
    background: rgb(211, 211, 255);
    color: white;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 2px;
}
#controls > div:hover {
    background: rgb(161, 161, 255);
}

#content #save {}

#content #delete {}