
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Optima;
    font-size: 20px;
    line-height: 40px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
}

#menu > div {
    background: rgb(238, 238, 238);
    color: rgb(109, 109, 109);
    -webkit-transition-duration: 200ms;
    flex: 1;
    display: flex;
    align-items: stretch;
}
#menu > div:hover {
    background: white;
    color: black;
}

#editor {
    position: absolute;
    background: rgba(65, 47, 60, 0.63);
    width: 100%;
    height: 100%;
    top: 0;
}


.mode-futures#menu {}
.mode-futures #futures {
    flex: 3;
}

.mode-working#menu {
    height: 100%;
}
.mode-working #working {
    flex: 3;
}

.mode-history#menu {}
.mode-history #history {
    flex: 3;
}


.cover {
    padding: 10px;
    cursor: pointer;
    flex: 1;
}