
#task-creator {
    height: 60px;
}
#task-creator #add {
    line-height: 40px;
    font-size: 35px;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    text-align: center;
    color: rgb(185, 185, 185);
}

#task-creator, .task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.task {
    padding: 0 20px;
    position: relative;
    height: 80px;
}
.task:hover, .record:hover {
    background: rgb(247, 247, 247);
}
.task .title {
}
.task .content {
    color: lightgrey;
    font-size: 15px;
}

.handlers {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 6px;
    right: 3px;
}
.handlers .button {
    width: 48px;
    margin: 0px 3px;
    text-align: center;
    background: rgb(205, 205, 255);
    color: white;
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
}

.handlers .button:hover {
    background: rgb(145, 145, 255);
}

.handlers .button.remove {
    width: 23px;
    background: rgb(255, 205, 205);
}
.handlers .button.remove:hover {
    background: red;
}

[contenteditable] {
    outline: none;
}