
#editor(v-show='editing')
  #dialog(class='action-{{action}}')
    #action
      span.name(v-model='action')
      span#dismiss(v-on='click: dismiss') ×
    #inputing
      input#title(v-model='title', placeholder='title', v-autofocus='editing')
      input#content(v-model='content', placeholder='content')
    #create-control.controls(v-show='action == "create"')
      button#create-task.button(v-on='click: createTask') create
    #edit-control.controls(v-show='action == "update"')
      button#update-task.button(v-on='click: updateTask') update
      button#remove-task.button(v-on='click: removeTask') remove
