
doctype html
html
  head
    title Todo List
    meta(charset='utf-8')
    link(rel='stylesheet', href='page/style.css')
    script(defer, src='./build/build.js')
  body#app
    include menu.jade
    include editor.jade